<div class="row justify-content-center">
    <div class="col-12">

        <form class="d-flex flex-column form-container" name="createForm" role="form" (ngSubmit)="save()"
              [formGroup]="createForm" sgmReadonly="ROLE_RW_PROFILE">

            <div class="row">
                <div class="form-group col-6">

                    <div class="e-input-wrapper">
                        <label for="name" jhiTranslate="profiles.create.labelname">Name</label>
                        <input formControlName="name" pattern=".*[^ ].*"
                               placeholder="{{ 'profiles.create.labelname' | translate }}"
                               required name="name" class="e-input" type="text" id="name"
                               maxlength="{{constants.NAME_LENGTH}}"/>

                        <div *ngIf="createForm.get('name').invalid && (createForm.get('name').dirty || createForm.get('name').touched)">

                            <small class="form-text text-danger"
                                   *ngIf="createForm.get('name').errors.required"
                                   jhiTranslate="entity.validation.required">
                                Field is required.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="createForm.get('name').errors?.minlength"
                                   jhiTranslate="global.messages.validate.profileName.minlength">
                                Field must have at least 3 characters.
                            </small>

                        </div>
                    </div>

                    <div class="e-input-wrapper mt-4">
                        <label for="description" jhiTranslate="profiles.create.labeldescription">Description</label>
                        <textarea formControlName="description" name="description" class="e-text-area tags-input-valid"
                                  placeholder="{{ 'profiles.create.labeldescription' | translate }}"
                                  [ngClass]="{'tags-input-valid': createForm.get('description').valid, 'tags-disable' : disabledBorder()}"
                                  type="text" id="description" maxlength="{{constants.DESCRIPTION_LENGTH}}"></textarea>
                    </div>
                </div>

                <div class="e-input-wrapper col-6">
                    <label class="authorities-title" jhiTranslate="profiles.create.authorities">Permissões</label>
                    <ng-select class="e-select" required [items]="authorities" [multiple]="true"
                               [closeOnSelect]="false" [searchable]="false" [virtualScroll]="true"
                               [compareWith]="compareTo"
                               bindLabel="name" placeholder="{{ 'profiles.create.authorities' | translate }}" formControlName="authorities">
                
                        <ng-template ng-label-tmp let-item="item">
                            {{('permission.'+item.name).toLocaleLowerCase() | translate}}
                            <span class="ng-value-icon right"
                                  (click)="removeItemFormArray('authorities', item)">×</span>
                        </ng-template>
                
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <strong [ngOptionHighlight]="search">
                                {{('permission.'+item.name).toLocaleLowerCase() | translate}}
                            </strong>
                        </ng-template>
                    </ng-select>

                    <small class="form-text text-danger"
                           *ngIf="createForm.get('authorities').errors?.required"
                           jhiTranslate="global.messages.validate.confirmPassword.required">
                        Field is required.
                    </small>

                </div>
            </div>

            <div class="d-flex flex-row justify-content-between buttons-row">
                <div>
                    <button type="button" class="btn btn-secondary mr-2" (click)="previousState()">
                        <span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>

                    <button type="submit" [disabled]="createForm.invalid || isSaving" class="btn btn-primary">
                        &nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
