<div class="d-flex flex-column h-100">
    <div class="container-user-label">
        <span *ngIf="user.id" class="title-page" jhiTranslate="userManagement.detail.title">User Detail</span>
        <span *ngIf="!user.id" class="title-page" jhiTranslate="userManagement.detail.creating">Register user</span>
    </div>

    <form class="d-flex flex-column h-100 form-wrapper" name="editForm" role="form" (ngSubmit)="save()"
        [formGroup]="editForm" sgmReadonly="ROLE_RW_USER">

        <div class="d-flex flex-row justify-content-between first-row-inputs">
            <div class="e-input-wrapper">
                <label jhiTranslate="userManagement.firstName">First Name</label>
                <input type="text" class="e-input" name="firstName"
                    placeholder="{{ 'userManagement.firstName' | translate }}" formControlName="firstName" required
                    maxlength="{{constants.NAME_LENGTH}}">

                <div
                    *ngIf="editForm.get('firstName').invalid && (editForm.get('firstName').dirty || editForm.get('firstName').touched)">

                    <small class="form-text text-danger" *ngIf="editForm.get('firstName').errors.required"
                        jhiTranslate="entity.validation.required">
                        Field is required.
                    </small>

                    <small class="form-text text-danger" *ngIf="editForm.get('firstName').errors?.minlength"
                        jhiTranslate="global.messages.validate.firstname.minlength">
                        Field must have at least 3 characters.
                    </small>

                    <small class="form-text text-danger" *ngIf="editForm.get('firstName').errors.pattern"
                        jhiTranslate="entity.validation.required">
                    </small>
                </div>
            </div>

            <div class="e-input-wrapper">
                <label jhiTranslate="userManagement.lastName">Last Name</label>
                <input type="text" class="e-input" name="lastName"
                    placeholder="{{ 'userManagement.lastName' | translate }}" formControlName="lastName" required
                    maxlength="{{constants.NAME_LENGTH}}">

                <div
                    *ngIf="editForm.get('lastName').invalid && (editForm.get('lastName').dirty || editForm.get('lastName').touched)">

                    <small class="form-text text-danger" *ngIf="editForm.get('lastName').errors.required"
                        jhiTranslate="entity.validation.required">
                        Field is required.
                    </small>

                    <small class="form-text text-danger" *ngIf="editForm.get('lastName').errors?.minlength"
                        jhiTranslate="global.messages.validate.lastName.minlength">
                        Field must have at least 1 characters.
                    </small>

                    <small class="form-text text-danger" *ngIf="editForm.get('lastName').errors.pattern"
                        jhiTranslate="entity.validation.required">
                    </small>
                </div>
            </div>

            <div class="e-input-wrapper">
                <label jhiTranslate="userManagement.login">Login</label>
                <input type="text" class="e-input" name="login" required
                    placeholder="{{ 'userManagement.login' | translate }}" formControlName="login"
                    maxlength="{{constants.LOGIN_LENGTH}}">

                <div
                    *ngIf="editForm.get('login').invalid && (editForm.get('login').dirty || editForm.get('login').touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('login').errors.required"
                        jhiTranslate="entity.validation.required">
                        Field is required.
                    </small>

                    <small class="form-text text-danger" *ngIf="editForm.get('login').errors.pattern"
                        jhiTranslate="entity.validation.patternLogin">
                        This field can only contain letters, digits and e-mail addresses.
                    </small>

                    <small class="form-text text-danger" *ngIf="editForm.get('login').errors?.minlength"
                        jhiTranslate="global.messages.validate.login.minlength">
                        Field must have at least 3 characters.
                    </small>

                </div>
            </div>

            <div class="e-input-wrapper">
                <label jhiTranslate="userManagement.email">Email</label>
                <input type="email" class="e-input"
                    [ngClass]="{'tags-input-valid': editForm.get('email').valid, 'tags-input-invalid': overflowAfter}"
                    name="email" formControlName="email" placeholder="{{ 'userManagement.email' | translate }}"
                    (keydown)="checkKey($event)" (keyup)="checkMaxEmail()" (keydown.space)="$event.preventDefault()"
                    maxlength="{{constants.EMAIL_LENGTH}}">

                <div
                    *ngIf="(editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)) || overflowAfter">

                    <small class="form-text text-danger" *ngIf="validateUserEmail(editForm.get('email'))"
                        jhiTranslate="global.messages.validate.email.minlength">
                        This field is required to be at least 3 characters.
                    </small>

                    <small class="form-text text-danger"
                        *ngIf="(editForm.get('email').errors && !editForm.get('email').errors.required) || overflowAfter"
                        jhiTranslate="global.messages.validate.email.invalid">
                        Your email is invalid.
                    </small>
                </div>
            </div>

        </div>

        <div class="d-flex flex-row justify-content-between">
            <div class="e-input-wrapper w-40 mr-5">
                <label jhiTranslate="userManagement.profiles">Profiles</label>

                <ng-select class="e-select" required [disabled]="disableInput('profiles')" [items]="profiles"
                    [multiple]="true" [virtualScroll]="true" [closeOnSelect]="false" [compareWith]="compareTo"
                    [searchable]="true" bindLabel="name" placeholder="{{ 'userManagement.profiles' | translate }}"
                    formControlName="profiles" (change)="setProfiles($event)">

                    <ng-template ng-label-tmp let-item="item">
                        {{ item.name }}
                        <span class="ng-value-icon right" (click)="removeItemFormArray('profiles', item)">×</span>
                    </ng-template>

                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <strong [ngOptionHighlight]="search">
                            {{ item.name}}
                        </strong>
                    </ng-template>
                </ng-select>

                <small class="form-text text-danger" *ngIf="editForm.get('profiles').errors?.required"
                    jhiTranslate="global.messages.validate.confirmPassword.required">
                    Field is required.
                </small>
            </div>

            <div class="e-input-wrapper w-25">
                <label *ngIf="user.id" jhiTranslate="userManagement.password">Password</label>
                <label *ngIf="!user.id" jhiTranslate="userManagement.createPassword">Password</label>

                <input [type]="inputPasswordType" class="e-input" name="password" formControlName="password"
                    placeholder="{{ 'userManagement.newPassword' | translate }}" pattern="{{constants.PATTERN}}"
                       smgAppEqualValidator="confirmPassword" reverse="true" [required]="!user.id"
                    maxlength="{{constants.PASSWORD}}">

                <div
                    *ngIf="editForm.get('password').invalid && (editForm.get('password').dirty || editForm.get('password').touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('password').errors.required"
                        jhiTranslate="global.messages.validate.password.required">
                        Field is required.
                    </small>

                    <small class="form-text text-danger" *ngIf="editForm.get('password').errors.pattern"
                        jhiTranslate="global.messages.validate.password.pattern">
                        The password must be composed of uppercase, lowercase letters, numbers, and contain more
                        than 8 characters.
                    </small>
                </div>
            </div>

            <div class="e-input-wrapper w-25">
                <label jhiTranslate="userManagement.confirmPassword">Confirm password</label>
                <input [type]="inputPasswordType" class="e-input" name="confirmPassword" [required]="!user.id"
                       formControlName="confirmPassword" reverse="false" smgAppEqualValidator="password"
                       pattern="{{constants.PATTERN}}" placeholder="{{ 'userManagement.repeatPassword' | translate }}">

                <div>
                    <small class="form-text text-danger" [hidden]="editForm.get('confirmPassword').valid"
                        jhiTranslate="global.messages.validate.confirmPassword.confirmPasswordNotEquals">
                    </small>


                    <small class="form-text text-danger" *ngIf="editForm.get('confirmPassword').errors?.required"
                        jhiTranslate="global.messages.validate.confirmPassword.required">
                        Field is required.
                    </small>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-between buttons-row">
            <div>
                <button type="button" class="btn btn-secondary mr-2" (click)="previousState()">
                    <span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" [disabled]="editForm.invalid || isSaving || overflowAfter"
                    class="btn btn-primary">
                    <span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </div>
    </form>
</div>
