.e-select > .ng-select-container,
.input-search {
  background: #F5F4FC;
  border-right: 5px solid;
  border-radius: 2px;
  border-color: #F5F4FC;
  transition: .2s;
}

.e-select:hover {
  cursor: pointer;
}

.input-search {
  border: unset;
  padding: 10px 15px;
  padding-right: 30px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
}

.img-search-guideline {
  background-image: url('/content/images/search-icon.png');
}

/*
    Example:
    <div class="e-checkbox-container">
        <input type="checkbox">

        Texto do Checkbox
    </div>

*/
.e-checkbox-container {
  font-size: 14px;
  display: flex;
  margin: 10px 0px;
  transition: .2s;

  :hover {
    cursor: pointer;
  }

  > input[type=checkbox],
  > input[type=radio] {
    appearance: none;
    outline: 0;
    background: transparent;
    height: 20px;
    width: 20px;
    border: 2px solid #384364;
    border-radius: 4px;
    margin-right: 15px;
  }

  > input[type=checkbox]:checked:before,
  > input[type=radio]:checked:before {
    content: "✔";
    font-size: 20px;
    display: inline-block;
    margin-top: -6px;
  }
}

/* 
    Example:
    <div class="e-input-wrapper">
        <label for="User">Click me</label>
        <input class="e-input" type="text" id="User"/>
    </div>
*/
.e-input-wrapper {
  display: flex;
  flex-direction: column;

  > label {
    font-size: 12px;
    opacity: .6;
    font-weight: bold;
  }
}

.e-input {
  background: #F5F4FC;
  border: none;
  min-height: 35px;
  padding: 5px 10px;
  font-size: 12px;
}

.e-text-area {
  background: #F5F4FC;
  border: none;
  min-height: 96px;
  padding: 5px 10px;
  font-size: 12px;
  color: #384364
}

.tags-input-valid {
  border-left: 5px solid green;
}

.tags-input-invalid {
  border-left: 5px solid red;
}

