
.container-label {
  padding-bottom: 32px;
  padding-left: 0;
}

span.title-page {
  color: #FFFFFF;
  opacity: 1;
  text-align: left;
  letter-spacing: 0;
  font-size: 21px;
  font-weight: bold;
}


/* Example title page
    <div class="container-user-label">
        <span class="title-page">Users</span>
    </div>
 */
