/* This class override all buttons. To change color set property "btn-" + "color-name" in the button */
.btn {
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
  letter-spacing: 1.1px;
  padding: 12px 32px 12px 32px;
  border-radius: 64px;
}

/* Must be used without color property  */
.btn-outline {
  font-size: 10px;
  letter-spacing: 1px;
  color: #ffff;
  padding: 10px 40px 10px 40px;
  border: 1px solid #EAECEF;
}
.format-btn > button {
  margin-bottom: 8px;
}
