.breadcrumb{
  background-color: transparent;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 2px;
}

.breadcrumb-item, .breadcrumb-item a {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #384364 !important;
}

.breadcrumb-item.active {
  font-weight: bold;
  opacity: 0.9;
  margin: 0;
}

.breadcrumb:first-child:before {
  display: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '•';
  vertical-align: top;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}
