.card-body {
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 100px;
  background: #7a8782;
  padding-top: 0;
}

.container-card {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.container-card img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container-card .app {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 35px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 4px 50px;
  text-align: center;
  z-index: 2;
  border: 2px solid #FFFFFF;
  border-radius: 23px;
  opacity: 1;
}


.container-card .logo-puc-minas {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 30%;
  max-width: 30%;
  text-align: center;
}

.center-img {
  display: block;
  padding: 0;
  padding-bottom: 30px;
  opacity: 1;
  z-index: 1;
}
