#password-container {
    height: 50%;
    width: 100%;
    padding: 5%;
}

#password-container .title {
    font-size: 14px;
}

.input-group  input {
    width: 90%;
}

.input-group .nput-group-prepend {
    width: 10%;
}

.bg-white {
    background-color: #F5F4FC !important;
    border: none;
  }
  